<header class="ms-header ms-header-primary" style="z-index: 1171" #header>
  <!--ms-header-primary-->
  <div class="container container-full">
    <div class="ms-title">
      <a routerLink="/">
        <!-- <img src="assets/img/demo/logo-header.png" alt=""> -->
        <span class="ms-logo animated zoomInDown animation-delay-5">HN</span>
        <h1 class="animated fadeInRight animation-delay-6">Hacker <span>News</span></h1>
      </a>
    </div>
    <div class="header-right">
      <div class="btn-group">
        <div class="share-menu">
          <ul class="share-menu-list">
            <li class="animated fadeInRight animation-delay-3"><a title="{{document.title}}" description="{{document.title}}" shareButton="linkedin" class="btn-circle"><i class="zmdi zmdi-linkedin"></i></a></li>
            <li class="animated fadeInRight animation-delay-2"><a title="{{document.title}}" description="{{document.title}}" shareButton="reddit" class="btn-circle"><i class="fa fa-reddit"></i></a></li>
            <li class="animated fadeInRight animation-delay-1"><a title="{{document.title}}" description="{{document.title}}" shareButton="twitter" class="btn-circle"><i class="zmdi zmdi-twitter"></i></a></li>
            <li class="animated fadeInRight animation-delay-2"><a title="{{document.title}}" description="{{document.title}}" shareButton="facebook" class="btn-circle"><i class="zmdi zmdi-facebook"></i></a></li>
          </ul>
          <a href="javascript:void(0)" class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7"><i class="zmdi zmdi-share"></i></a>
        </div>
        <button *ngIf="hackerNewsUserService.isAuthenticated" type="button" class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="zmdi zmdi-account"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a [routerLink]="'/profile/' + hackerNewsUserService.username" class="dropdown-item"> Profile </a></li>
          <li role="separator" class="dropdown-divider"></li>
          <li><a (click)="logout()" class="dropdown-item">Logout</a></li>
        </ul>
        <a *ngIf="!hackerNewsUserService.isAuthenticated" href="javascript:void(0)" class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" data-toggle="modal" data-target="#ms-account-modal"><i class="zmdi zmdi-account"></i></a>
        <form #f="ngForm" (ngSubmit)="onSearchSubmit(f)" class="search-form animated zoomInDown animation-delay-9" novalidate>
          <input (click)="$event.target.value = ''" (input)="onSearchChange($event.target.value)" id="search-box" ngModel type="text" class="search-input" placeholder="Search..." name="query" required />
          <label for="search-box"><i class="zmdi zmdi-search"></i></label>
        </form>
        <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary ms-toggle-left animated zoomInDown animation-delay-10"><i class="zmdi zmdi-menu"></i></a>
      </div>

    </div>
  </div>
</header>
