<div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <div class="modal-header d-block shadow-2dp no-pb">
        <button type="button" class="close d-inline pull-right mt-2" data-dismiss="modal" aria-label="Close" #closeAccountDialog><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
        <div class="modal-title text-center">
          <span class="ms-logo ms-logo-white ms-logo-sm mr-1">HN</span>
          <h3 class="no-m ms-site-title">Hacker<span>News</span></h3>
        </div>
        <div class="modal-header-tabs">
          <ul class="nav nav-tabs nav-tabs-full nav-tabs-2 nav-tabs-primary" role="tablist">
            <li class="nav-item" role="presentation"><a href="#ms-login-tab" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="nav-link active withoutripple"><i class="zmdi zmdi-account"></i> Login</a></li>
          </ul>
        </div>
      </div>
      <div class="modal-body">
        <div *ngIf="loading" class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        <div *ngIf="error.title.length > 0" class="alert alert-danger alert-light alert-dismissible wow slideInDown" role="alert">
          <strong><i class="zmdi zmdi-close-circle"></i> {{ error.title }}</strong> {{ error.desc }}
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab">
            <form #login="ngForm" (ngSubmit)="onSubmit(login, false)" autocomplete="off">
              <fieldset>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <label class="control-label" for="ms-form-user">Username</label>
                    <input ngModel name="username" type="text" id="ms-form-user" class="form-control" required >
                  </div>
                </div>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    <label class="control-label" for="ms-form-pass">Password</label>
                    <input ngModel name="password" type="password" id="ms-form-pass" class="form-control" required >
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6"></div>
                  <div class=" col-md-6">
                    <button [class.disabled]="!login.valid" class="btn btn-raised btn-primary pull-right" type="submit">Login</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
            <form #register="ngForm" (ngSubmit)="onSubmit(register, true)">
              <fieldset>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <label class="control-label" for="ms-form-user-r">Username</label>
                    <input ngModel name="username" type="text" id="ms-form-user-r" class="form-control" required>
                  </div>
                </div>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    <label class="control-label" for="ms-form-pass-r">Password</label>
                    <input ngModel name="password" type="password" id="ms-form-pass-r" class="form-control" required>
                  </div>
                </div>
                <button [class.disabled]="!register.valid" class="btn btn-raised btn-block btn-primary" type="submit">Register Now</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
