<article>
  <a (click)="vote(article.story.id.toString())" *ngIf="article.story !== undefined && hackerNewsUserService.isAuthenticated && direction == 'up';" data-placement="right" data-toggle="tooltip" title="Upvote" class="btn-circle btn-circle-lg btn-circle-white color-primary btn-circle-raised btn-card-float ml-4 mt-3 wow zoomInDown" style="left:0%">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <a (click)="vote(article.story.id.toString())" *ngIf="article.story !== undefined && hackerNewsUserService.isAuthenticated && direction == 'un';" data-placement="right" data-toggle="tooltip" title="Upvote" class="btn-circle btn-circle-lg btn-circle-white color-medium btn-circle-raised btn-card-float ml-4 mt-3 wow zoomInDown" style="left:0%">
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <div *ngIf="article.story !== undefined; else loading" class="card card-primary mb-4 wow" [ngClass]="animateIn ? 'zoomInRight' : ''" style="visibility:hidden">
    <div class="card-body overflow-hidden card-body-big p-0">
      <div class="row">
        <div class="col-md-4 pr-0" style="height: 30rem;">
          <a href="{{ article.story.url != undefined ? article.story.url : 'post/' + article.story.id }}" target="{{ article.story.url != undefined ? '_blank' : '_self' }}" >
            <img [src]="article.story.leadImageUrl" alt="" class="w-100 h-100" style="object-fit: cover;">
          </a>
        </div>
        <div class="col-md-8 p-r-md-30px">
          <div class="p-1 h-md-100">
            <div style="height: 80%">
              <h2 class="m-0"><a href="{{ article.story.url != undefined ? article.story.url : 'post/' + article.story.id }}" target="{{ article.story.url != undefined ? '_blank' : '_self' }}" >{{article.story.title}}</a></h2>
              <h6 class="mt-1" style="line-height: 2rem">
                By <a class="mr-1" href="profile/{{ article.story.by }}">{{article.story.by}}</a>
                <a href="{{ 'post/' + article.story.id }}"><span class="mr-1 d-sm-inline"><i class="zmdi zmdi-favorite mr-05 color-info"></i> <span class="color-medium-dark">{{ article.story.score }} points</span></span></a>
                <a href="{{ 'post/' + article.story.id }}"><span class="mr-1 d-sm-inline"><i class="zmdi zmdi-comments mr-05 color-info"></i> <span class="color-medium-dark">{{ article.story.descendants }} comments</span></span></a>
                <span class="mr-1 d-sm-inline-block">{{article.story.domain}}</span>
                <span class="mr-1 d-none d-sm-inline-block"><i class="zmdi zmdi-calendar mr-05 color-info"></i> <span class="color-medium-dark">{{ article.story.time * 1000 | date: 'yyyy-MM-dd'}}</span></span>
                <span class="d-none d-sm-inline-block"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">{{ article.story.time * 1000 | date: 'H:mm'}}</span></span>
              </h6>
              <p [innerHTML]="((article.story.description !== undefined && article.story.description.length > 300 ? (article.story.description | slice:0:300) + '...' : article.story.description) | emojify)"></p>
            </div>
            <div style="height: 20%">
              <div class="row mt-0 mb-0 pb-0 pt-0">
                <div class="col-md-6 mt-0 mb-0 pb-0 pt-0">
                  <a href="{{ 'post/' + article.story.id }}" class="btn btn-sm btn-primary btn-raised btn-block animate-icon">Discussion <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                </div>
                <div class="col-md-6 mt-0 mb-0 pb-0 pt-0">
                  <a href="{{ article.story.url != undefined ? article.story.url : 'post/' + article.story.id }}" target="{{ article.story.url != undefined ? '_blank' : '_self' }}" class="btn btn-sm btn-primary btn-raised btn-block animate-icon">Original article <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<ng-template #loading>
  <div *ngIf="showLoading" style="z-index: 0; margin-top: 25%" class="absolute-center">
    <div id="status">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  </div>
</ng-template>
