<article>
  <div *ngIf="item !== undefined; else loading" class="card card-primary wow zoomInRight mb-4" style="visibility:hidden">
    <div class="card-body overflow-hidden card-body-big">
      <div class="row">
        <div class="col-xl-6">
          <a href="{{ item.url != undefined ? item.url : 'post/' + item.id }}" target="{{ item.url != undefined ? '_blank' : '_self' }}" >
            <img [src]="item.leadImageUrl" alt="" class="img-fluid mb-4">
          </a>
        </div>
        <div class="col-xl-6 mb-4">
          <h3 class="no-mt"><a href="{{ item.url != undefined ? item.url : 'post/' + item.id }}" target="{{ item.url != undefined ? '_blank' : '_self' }}" >{{item.title}}</a></h3>
          <h5>
            <a href="{{ 'post/' + item.id }}"><span class="d-sm-inline"><i class="zmdi zmdi-favorite mr-05 color-info"></i> <span class="color-medium-dark">{{ item.score }} points</span></span></a>
            <a href="{{ 'post/' + item.id }}"><span class="ml-1 d-sm-inline"><i class="zmdi zmdi-comments mr-05 color-info"></i> <span class="color-medium-dark">{{ item.descendants }} comments</span></span></a>
            <span class="ml-1 d-none d-sm-inline">{{item.domain}}</span>
          </h5>
          <p [innerHTML]="((item.description !== undefined && item.description.length > 400 ? (item.description | slice:0:300) + '...' : item.description) | emojify)"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          By <a href="profile/{{ item.by }}">{{item.by}}</a>
          <span class="ml-1 d-sm-inline"><i class="zmdi zmdi-calendar mr-05 color-info"></i> <span class="color-medium-dark">{{ item.time * 1000 | date: 'yyyy-MM-dd'}}</span></span>
          <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">{{ item.time * 1000 | date: 'H:mm'}}</span></span>
        </div>
        <div class="col-lg-4 text-right">
          <a href="{{ item.url != undefined ? item.url : 'post/' + item.id }}" target="{{ item.url != undefined ? '_blank' : '_self' }}" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</article>

<ng-template #loading>
  <div *ngIf="showLoading" style="z-index: 0; margin-top: 25%" class="absolute-center">
    <div id="status">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
  </div>
</ng-template>
