<nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
  <div class="container container-full">
    <div class="navbar-header" id="header">
      <a class="navbar-brand" routerLink="/">
        <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
        <span class="ms-logo ms-logo-sm">HN</span>
        <span class="ms-title">Hacker <strong>News</strong></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="ms-navbar">
      <ul class="navbar-nav">
        <li *ngFor='let s of section' class="nav-item dropdown" [class.active]="s === hackerNewsService.getCurrentSectionName()">
          <a routerLink="/feed/{{s}}" class="nav-link dropdown-toggle animated fadeIn animation-delay-5" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{s}} <i class="zmdi zmdi-chevron-down"></i></a>
        </li>
      </ul>
    </div>
    <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu"><i class="zmdi zmdi-menu"></i></a>
  </div> <!-- container -->
</nav>
