<!--The content below is only a placeholder and can be replaced.-->
<div class="ms-site-container">
  <!-- Modal -->
  <app-modal-user></app-modal-user>
  <app-modal-submit></app-modal-submit>

  <app-header></app-header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <div class="btn-back-top">
    <a (click)="scrollToTop()" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised color-white"><i class="zmdi zmdi-long-arrow-up"></i></a>
  </div>
</div> <!-- ms-site-container -->
<app-sidebar></app-sidebar>


