<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
  <div class="sb-slidebar-container">
    <header class="ms-slidebar-header">
      <div *ngIf="hackerNewsUserService.isAuthenticated" class="ms-slidebar-login">
        <a routerLink="/profile/{{hackerNewsUserService.username}}" class="withripple ms-toggle-left"><i class="zmdi zmdi-account"></i> {{ hackerNewsUserService.username}}</a>
      </div>
      <div class="ms-slidebar-title">
        <form #f="ngForm" (ngSubmit)="onSearchSubmit(f)" class="search-form">
          <input (click)="$event.target.value = ''" (input)="onSearchChange($event.target.value)" ngModel id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="query" required />
          <label for="search-box-slidebar"><i class="zmdi zmdi-search"></i></label>
          <button type="submit" style="visibility: hidden" class="ms-toggle-left"></button>
        </form>
        <div class="ms-slidebar-t">
          <span class="ms-logo ms-logo-sm">HN</span>
          <h3>Hacker<span>News</span></h3>
        </div>
      </div>
    </header>
    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
      <li *ngFor='let s of section'>
        <a class="link ms-toggle-left" routerLink="/feed/{{s}}"> {{s}}</a>
      </li>
      <li *ngIf="hackerNewsUserService.isAuthenticated">
        <a class="link ms-toggle-left" routerLink="/profile/{{hackerNewsUserService.username}}"><i class="zmdi zmdi-account"></i> Profile</a>
      </li>
      <li *ngIf="hackerNewsUserService.isAuthenticated">
        <a class="link ms-toggle-left" (click)="hackerNewsUserService.logout()"><i class="zmdi zmdi-8tracks"></i> Logout</a>
      </li>
      <li *ngIf="!hackerNewsUserService.isAuthenticated">
        <a class="link ms-toggle-left" data-target="#ms-account-modal" data-toggle="modal"><i class="zmdi zmdi-account"></i> Login</a>
      </li>
    </ul>
    <div class="ms-slidebar-social ms-slidebar-block">
      <a style="color: gray;" href="javascript:void(0)" data-toggle="modal" data-target="#modalAbout" class="ms-slidebar-block-title ms-toggle-left">About</a>
    </div>
    <div class="modal" id="modalAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title color-primary" id="myModalLabel">About this project</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
          </div>
          <div class="modal-body">
            <p>This project is an unofficial interface to Hacker News.</p>
            <p>For suggestions and features requests you can write me here: <a href="https://gabrielepicco.github.io/" target="_blank">gabrielepicco.github.io</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
