<div *ngIf="item != undefined" class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card animated fadeInLeftTiny animation-delay-5">
        <div class="card-body card-body-big">
          <h1 class="no-mt"><a *ngIf="item.url != undefined" [href]="item.url">{{ item.title }}</a><span class="primary-color" *ngIf="item.url == undefined"> {{ item.title }} </span></h1>
          <div class="mb-4">
            <span class="d-none d-sm-inline"><i class="zmdi zmdi-calendar mr-05 color-info"></i> <span class="color-medium-dark">{{ item.time * 1000 | date: 'yyyy-MM-dd'}}</span></span>
            <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">{{ item.time * 1000 | date: 'h:mm'}}</span></span>
            <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-favorite mr-05 color-info"></i> <span class="color-medium-dark">{{ item.score }}</span></span>
            <span class="ml-1 d-none d-sm-inline"><i class="zmdi zmdi-comments mr-05 color-info"></i> <span class="color-medium-dark">{{ item.descendants }}</span></span>
            <span class="ml-1">{{ item.domain }}</span>
          </div>
          <img [src]="item.leadImageUrl" class="img-fluid mb-4">
          <p [innerHTML]="item.text"></p>
          <a *ngIf="item.url != undefined" [href]="item.url" class="btn btn-primary btn-raised btn-block animate-icon">Read the original article <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
          <a *ngIf="item.url != undefined" [href]="item.url" class="btn btn-primary btn-raised btn-block"><i class="mr-1 no-mr zmdi zmdi-comments"></i>Add Comment</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
    <app-profile-sidebar [by]="item.by"></app-profile-sidebar>
    </div>
  </div>
  <div class="row wow materialUp animation-delay-8">
    <div class="col-md-12">
      <h2 class="color-primary right-line">Comments</h2>
      <ul class="ms-timeline">
        <app-comment *ngFor='let id of item.kids' [id]="id"></app-comment>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary animated fadeInUp animation-delay-8">
        <div class="card-body">
          <h2 class="color-primary text-center">Leave a comment</h2>
          <form class="form-horizontal">
            <fieldset class="container">
              <div class="form-group row">
                <label for="inputEmail" autocomplete="false" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" autocomplete="false" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-9">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="textArea" class="col-lg-2 control-label">Comment</label>
                <div class="col-lg-9">
                  <textarea class="form-control" rows="6" id="textArea" placeholder="Your comment..."></textarea>
                </div>
              </div>
              <div class="form-group row justify-content-end">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-raised btn-primary">Send Comment</button>
                  <button type="button" class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
