<div *ngIf="user != undefined" class="ms-hero-page-override ms-hero-img-coffee ms-bg-fixed ms-hero-bg-primary">
  <div class="container">
    <div class="text-center mt-2">
      <img src="{{ user.profileImage }}" alt="..." class="ms-avatar-hero animated zoomIn animation-delay-7">
      <h1 class="color-white mt-4 animated fadeInUp animation-delay-10"> {{ user.id }}</h1>
    </div>
  </div>
</div>
<div *ngIf="user != undefined" class="container">
  <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
    <div class="card-header-100 bg-primary-dark">
      <div class="row justify-content-center">
        <div class="col col-md-2">
          <div class="text-center">
            <h3><strong>{{ user.karma }}</strong></h3> Karma
          </div>
        </div>
        <div class="col col-md-2">
          <div class="text-center">
            <h3><strong>{{ user.created * 1000 | date: 'yyyy-MM-dd' }}</strong> </h3> Created
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.about != undefined" class="row justify-content-center">
      <div class="col col-md-11">
        <h2 class="color-primary">About Me</h2>
        <p [innerHTML]="user.about"></p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user != undefined" class="container" infiniteScroll (scrolled)="onScroll()">
  <h1 class="color-primary text-center mb-4">Recent Activity</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="ms-timeline">
        <app-profile-activity *ngFor='let id of current.activities' [id]="id"></app-profile-activity>
      </ul>
    </div>
  </div>
</div>
